<ul>
    <li>
        DayGubun: {{result.DayGubun}}
    </li>
    <li>
        FirstINTime: {{result.FirstINTime}}
    </li>
    <li>
        SecondINTime: {{result.SecondINTime}}
    </li>
    <li>
        OutTime: {{result.OutTime}}
    </li>
</ul>

<dl>
    <dt>
        DayGubun
    </dt>
    <dd>
        요일
    </dd>
    <dt>
        FirstINTime, SecondINTime
    </dt>
    <dd>
        1차등교시간, 2차등교시간
    </dd>
    <dt>
        OutTime
    </dt>
    <dd>
        하교시간, 이후로 카드인식 시 익일 및 당일 아침 등교 처리
    </dd>
</dl>
