<h3>
    Wanna GUI Application?
</h3>
<ul>
    <li>
        Students
        <ul>
            <li>
                <a href="/students/by-name">Search by Name</a>
            </li>
            <li>
                <a href="/students/by-class">Search By Class</a>
            </li>
        </ul>
    </li>
    <li>
        Systems
        <ul>
            <li>
                <a href="systems/schooltime">SchoolTime</a>
            </li>
        </ul>
    </li>
</ul>
<h3>
    Wanna API Service?
</h3>
<p>
    Check references:
    <a href="https://khskeb0513.gitbook.io/busanhs-api/">API Document</a> (gitbook)
</p>
