<form action="/students/by-name" method="GET">
    <p>
        <label>
            성명:
            <input type="text" name="name"/>
        </label>
    </p>
    <input type="submit" value="검색"/>
</form>
